// Paleta de colores
$color-primary: #e2d7d8;
$color-secondary: #22223b;
$color-tertiary: #c9a7ad;
$color-quaternary: #f4f4f4;

// Fuentes
$font-main: "Varela Round", sans-serif;
$font-title: 'Fredoka', sans-serif;
$font-marca: "Kaushan Script", cursive;

//Breackpoints
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

////Import Externos

//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&family=Kaushan+Script&family=Varela+Round&display=swap');
// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";


////Import Internos

//Navbar
@import '../sass/navbar';
//Hero
@import '../sass/hero';
//About Us
@import '../sass/about';
//Footer
@import '../sass/footer';
//Chart
@import '../sass/chart';
//
@import '../sass/intro';


* {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}


